include YXE3D/dependancies/win/amd64/*.dll
include YXE3D/dependancies/win/x86/*.dll
include YXE3D/dependancies/mac/amd64/*.dylib
include YXE3D/dependancies/linux/amd64/*.so
include YXE3D/dependancies/firmware/*.bin
include YXE3D/dependancies/firmware/*.dfu